
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="Module_ID">Module ID</label>
          <input
            class="form-control"
            id="Module_ID"
            required
            [(ngModel)]="newModule.Module_ID"
            name="Module_ID"
          />
        </div>
    
          <div class="form-group">
            <label for="Input_Filename">Input Name</label>
            <input
              class="form-control"
              id="Input_Filename"
              required
              [(ngModel)]="newModule.Input_Filename"
              name="Input_Filename"
            />
          </div>
          <div class="form-group">
            <label for="Input_Notes">Notes</label>
            <input
              type="text"
              class="form-control"
              id="Input_Notes"
              required
              [(ngModel)]="newModule.Input_Notes"
              name="Input_Notes"
            />
          </div>
    
         
        <button (click)="saveModule()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>New Input was submitted successfully!</h4>
        <button class="btn btn-success" (click)="NewModule()">Add another</button>
      </div>
    </div>
  </div>